body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    /* background-color: rgba(254, 242, 187, 0.8); */
    background: url('background.jpg');
}

a {
    text-decoration: none;
    color: unset;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #e2cf78;
    border-radius: 10px;
    box-shadow: inset -1px 1px 13px rgba(134, 79, 185, 0.3);
}

 ::-webkit-scrollbar-thumb:hover {
    background: #fff5c8;
    border-radius: 10px;
}

 ::-webkit-scrollbar-track {
    background: rgb(134, 79, 185);
    border-radius: 10px;
    box-shadow: inset -6px 0px 11px rgba(134, 79, 185, 0.3);
}

.wrapper {
    flex-grow: 1;
    /* height: 100%; */
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.search {
    margin: 20px;
    position: absolute;
    left: 79%;
}

.search>h3 {
    font-weight: normal;
}

.search>h1,
.search>h3 {
    color: #e2cf78;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}

.search>div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}

.search>div:after {
    content: "";
    background: #e2cf78;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
}

.search>div>input {
    color: #e2cf78;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #e2cf78;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search>div>input::placeholder {
    color: #e2cf78;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
    opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 250px;
}

.top__picture {
    background-color: silver;
    width: 100%;
    height: 241px;
    z-index: 0;
    margin: 0;
    /* margin-bottom: ; */
}

.logo {
    width: 100%;
    height: 241px;
}

.top__nav {
    width: 99.9%;
    background-color: rgb(134, 79, 185);
    height: max-content;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    z-index: 0;
    font-family: 'Kurale', cursive;
    font-style: italic;
    color: #e2cf78;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px rgb(134, 79, 185);
    /* position: fixed; */
    -webkit-box-shadow: 0px 15px 10px -8px rgba(156, 105, 204, 0.7);
    -moz-box-shadow: 0px 15px 10px -8px rgba(156, 105, 204, 0.7);
    box-shadow: 0px 15px 10px -8px rgba(156, 105, 204, 0.7);
}

.main__menu {
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* position: sticky; */
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    z-index: 5;
    color: #e2cf78;
}

.main__menu--item {
    margin: 0;
    padding: 0;
    color: #e2cf78;
    position: relative;
}

.nav__games {
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
    z-index: -17;
    background-color: rgba(156, 105, 204, 0.902);
    color: #e2cf78;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav__games--list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    padding: 0;
}

.main__menu--item:nth-child(2):hover>.nav__games {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    left: -60%;
    /* top: 50%; */
}

.nav__games:hover {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    padding: 0;
    left: -60%;
}

.nav__movies {
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
    z-index: -18;
    background-color: rgba(156, 105, 204, 0.9);
    color: #e2cf78;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav__movies--list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    padding: 0;
}

.main__menu--item:nth-child(3):hover>.nav__movies {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    left: -40%;
}

.nav__movies:hover {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    padding: 0;
    left: -40%;
}

.nav__books {
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
    z-index: -19;
    background-color: rgba(156, 105, 204, 0.9);
    color: #e2cf78;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav__books--list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    padding: 0;
}

.main__menu--item:nth-child(4):hover>.nav__books {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    left: -35%;
}

.nav__books:hover {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    padding: 0;
    left: -35%;
}

.nav__rpg {
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
    z-index: -20;
    background-color: rgba(156, 105, 204, 0.9);
    color: #e2cf78;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav__rpg--list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    padding: 0;
}

.main__menu--item:nth-child(5):hover>.nav__rpg {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    left: -315%;
}

.nav__rpg:hover {
    animation: slidein 1.4s cubic-bezier(0.280, 0.840, 0.420, 1) 1 forwards;
    display: block;
    position: absolute;
    padding: 0;
    left: -70%;
}

@keyframes slidein {
    0% {
        transform: scale(0, 0) translateY(-400%);
    }
    35% {
        transform: scale(1.1, .9) translateY(0);
    }
    45% {
        transform: scale(.9, 1.1) translateY(-20px);
    }
    65% {
        transform: scale(1.05, .95) translateY(0);
    }
    72% {
        transform: scale(1, 1) translateY(-7px);
    }
    79% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-webkit-keyframes slidein {
    0% {
        transform: scale(1, 1) translateY(-500%);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-100px);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.main__content {
    height: 100%;
    background-color: rgba(254, 242, 187, 0.4);
    color: black;
    margin: 0;
    padding: 7px;
    z-index: -21;
    width: 75%;
    margin-top: 1%;
    border-radius: 20px;
    margin-right: 5%;
    text-align: justify;
    -webkit-box-shadow: -13px -13px 0px 0px rgba(255, 245, 200, .4);
    -moz-box-shadow: -13px -13px 0px 0px rgba(255, 245, 200, .4);
    box-shadow: -13px -13px 0px 0px rgba(255, 245, 200, .4);
}

.foot__nav {
    /* position: absolute; */
    /* display: block; */
    /* top: 120%; */
    width: 100%;
    height: 150px;
    background-color: rgba(134, 79, 185, 0.8);
    /* align-self: center; */
    color: #e2cf78;
    /* align-items: center; */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-family: 'Kurale', cursive;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contact {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 80%;
    margin: 0;
    margin-top: 20px;
    margin-left: 60px;
}

.footer__center {
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
}

.newsletter__form {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: ;
    align-items: center;
    justify-content: center;
}

.join__newsletter {
    width: 200px;
    height: 2.5rem;
    font-size: 1rem;
    margin-right: 15px;
    background-color: #e2cf78;
    color: rgba(156, 105, 204, 1);
    border-radius: 30px;
    /* padding-left: 20px; */
    font-family: 'Kurale', cursive;
    text-align: center;
}

.join__newsletter:focus {
    outline-offset: 1px;
    outline: transparent;
    outline-color: rgba(255, 245, 200, 0.8);
}

.btn {
    background: #e2cf78;
    background-image: -webkit-linear-gradient(top, #e2cf78, #fff5c8);
    background-image: -moz-linear-gradient(top, #e2cf78, #fff5c8);
    background-image: -ms-linear-gradient(top, #e2cf78, #fff5c8);
    background-image: -o-linear-gradient(top, #e2cf78, #fff5c8);
    background-image: linear-gradient(to bottom, #e2cf78, #fff5c8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: ridge #864fb9 3px;
    font-family: 'Kurale', cursive;
    color: rgba(156, 105, 204, 1);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #fff5c8;
    background-image: -webkit-linear-gradient(top, #fff5c8, #e2cf78);
    background-image: -moz-linear-gradient(top, #fff5c8, #e2cf78);
    background-image: -ms-linear-gradient(top, #fff5c8, #e2cf78);
    background-image: -o-linear-gradient(top, #fff5c8, #e2cf78);
    background-image: linear-gradient(to bottom, #fff5c8, #e2cf78);
    text-decoration: none;
}

.footer__right {
    display: flex;
    flex-flow: column;
    /* flex-grow: 1; */
    align-items: center;
    margin: 0;
    margin-top: 20px;
    margin-right: 80px;
}

.watch__us {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    margin: 0;
    margin-top: 20px;
    margin-right: 40px;
}

.watch__us--icon {
    width: 50px;
}